.sr-only {
	padding: 0px;
}
td {
	padding: 0px;
}
th {
	padding: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0; background-color: transparent;
}
.sr-only {
	margin: -1px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.sr-only-focusable:active {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.sr-only-focusable:focus {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
th {
	text-align: left;
}
.table {
	width: 100%; margin-bottom: 20px; max-width: 100%;
}
.table > tbody > tr > td {
	padding: 8px; line-height: 1.4285; vertical-align: top; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.table > tbody > tr > th {
	padding: 8px; line-height: 1.4285; vertical-align: top; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.table > tfoot > tr > td {
	padding: 8px; line-height: 1.4285; vertical-align: top; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.table > tfoot > tr > th {
	padding: 8px; line-height: 1.4285; vertical-align: top; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.table > thead > tr > td {
	padding: 8px; line-height: 1.4285; vertical-align: top; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.table > thead > tr > th {
	padding: 8px; line-height: 1.4285; vertical-align: top; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.table > thead > tr > th {
	vertical-align: bottom; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid;
}
.table > caption + thead > tr:first-child > td {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.table > caption + thead > tr:first-child > th {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.table > colgroup + thead > tr:first-child > td {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.table > colgroup + thead > tr:first-child > th {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.table > thead:first-child > tr:first-child > td {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.table > thead:first-child > tr:first-child > th {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.table > tbody + tbody {
	border-top-color: rgb(221, 221, 221); border-top-width: 2px; border-top-style: solid;
}
.table .table {
	background-color: rgb(255, 255, 255);
}
.table-condensed > tbody > tr > td {
	padding: 5px;
}
.table-condensed > tbody > tr > th {
	padding: 5px;
}
.table-condensed > tfoot > tr > td {
	padding: 5px;
}
.table-condensed > tfoot > tr > th {
	padding: 5px;
}
.table-condensed > thead > tr > td {
	padding: 5px;
}
.table-condensed > thead > tr > th {
	padding: 5px;
}
.table-bordered {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
.table-bordered > tbody > tr > td {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
.table-bordered > tbody > tr > th {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
.table-bordered > tfoot > tr > td {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
.table-bordered > tfoot > tr > th {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
.table-bordered > thead > tr > td {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
.table-bordered > thead > tr > th {
	border: 1px solid rgb(221, 221, 221); border-image: none;
}
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}
.table-bordered > thead > tr > th {
	border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: rgb(249, 249, 249);
}
.table-hover > tbody > tr:hover {
	background-color: rgb(245, 245, 245);
}
.table > tbody > tr.active > td {
	background-color: rgb(245, 245, 245);
}
.table > tbody > tr.active > th {
	background-color: rgb(245, 245, 245);
}
.table > tbody > tr > td.active {
	background-color: rgb(245, 245, 245);
}
.table > tbody > tr > th.active {
	background-color: rgb(245, 245, 245);
}
.table > tfoot > tr.active > td {
	background-color: rgb(245, 245, 245);
}
.table > tfoot > tr.active > th {
	background-color: rgb(245, 245, 245);
}
.table > tfoot > tr > td.active {
	background-color: rgb(245, 245, 245);
}
.table > tfoot > tr > th.active {
	background-color: rgb(245, 245, 245);
}
.table > thead > tr.active > td {
	background-color: rgb(245, 245, 245);
}
.table > thead > tr.active > th {
	background-color: rgb(245, 245, 245);
}
.table > thead > tr > td.active {
	background-color: rgb(245, 245, 245);
}
.table > thead > tr > th.active {
	background-color: rgb(245, 245, 245);
}
table col[class*=col-] {
	float: none; display: table-column; position: static;
}
table td[class*=col-] {
	float: none; display: table-cell; position: static;
}
table th[class*=col-] {
	float: none; display: table-cell; position: static;
}
.table-hover > tbody > tr.active:hover > td {
	background-color: rgb(232, 232, 232);
}
.table-hover > tbody > tr.active:hover > th {
	background-color: rgb(232, 232, 232);
}
.table-hover > tbody > tr:hover > .active {
	background-color: rgb(232, 232, 232);
}
.table-hover > tbody > tr > td.active:hover {
	background-color: rgb(232, 232, 232);
}
.table-hover > tbody > tr > th.active:hover {
	background-color: rgb(232, 232, 232);
}
.table > tbody > tr.success > td {
	background-color: rgb(223, 240, 216);
}
.table > tbody > tr.success > th {
	background-color: rgb(223, 240, 216);
}
.table > tbody > tr > td.success {
	background-color: rgb(223, 240, 216);
}
.table > tbody > tr > th.success {
	background-color: rgb(223, 240, 216);
}
.table > tfoot > tr.success > td {
	background-color: rgb(223, 240, 216);
}
.table > tfoot > tr.success > th {
	background-color: rgb(223, 240, 216);
}
.table > tfoot > tr > td.success {
	background-color: rgb(223, 240, 216);
}
.table > tfoot > tr > th.success {
	background-color: rgb(223, 240, 216);
}
.table > thead > tr.success > td {
	background-color: rgb(223, 240, 216);
}
.table > thead > tr.success > th {
	background-color: rgb(223, 240, 216);
}
.table > thead > tr > td.success {
	background-color: rgb(223, 240, 216);
}
.table > thead > tr > th.success {
	background-color: rgb(223, 240, 216);
}
.table-hover > tbody > tr.success:hover > td {
	background-color: rgb(208, 233, 198);
}
.table-hover > tbody > tr.success:hover > th {
	background-color: rgb(208, 233, 198);
}
.table-hover > tbody > tr:hover > .success {
	background-color: rgb(208, 233, 198);
}
.table-hover > tbody > tr > td.success:hover {
	background-color: rgb(208, 233, 198);
}
.table-hover > tbody > tr > th.success:hover {
	background-color: rgb(208, 233, 198);
}
.table > tbody > tr.info > td {
	background-color: rgb(217, 237, 247);
}
.table > tbody > tr.info > th {
	background-color: rgb(217, 237, 247);
}
.table > tbody > tr > td.info {
	background-color: rgb(217, 237, 247);
}
.table > tbody > tr > th.info {
	background-color: rgb(217, 237, 247);
}
.table > tfoot > tr.info > td {
	background-color: rgb(217, 237, 247);
}
.table > tfoot > tr.info > th {
	background-color: rgb(217, 237, 247);
}
.table > tfoot > tr > td.info {
	background-color: rgb(217, 237, 247);
}
.table > tfoot > tr > th.info {
	background-color: rgb(217, 237, 247);
}
.table > thead > tr.info > td {
	background-color: rgb(217, 237, 247);
}
.table > thead > tr.info > th {
	background-color: rgb(217, 237, 247);
}
.table > thead > tr > td.info {
	background-color: rgb(217, 237, 247);
}
.table > thead > tr > th.info {
	background-color: rgb(217, 237, 247);
}
.table-hover > tbody > tr.info:hover > td {
	background-color: rgb(196, 227, 243);
}
.table-hover > tbody > tr.info:hover > th {
	background-color: rgb(196, 227, 243);
}
.table-hover > tbody > tr:hover > .info {
	background-color: rgb(196, 227, 243);
}
.table-hover > tbody > tr > td.info:hover {
	background-color: rgb(196, 227, 243);
}
.table-hover > tbody > tr > th.info:hover {
	background-color: rgb(196, 227, 243);
}
.table > tbody > tr.warning > td {
	background-color: rgb(252, 248, 227);
}
.table > tbody > tr.warning > th {
	background-color: rgb(252, 248, 227);
}
.table > tbody > tr > td.warning {
	background-color: rgb(252, 248, 227);
}
.table > tbody > tr > th.warning {
	background-color: rgb(252, 248, 227);
}
.table > tfoot > tr.warning > td {
	background-color: rgb(252, 248, 227);
}
.table > tfoot > tr.warning > th {
	background-color: rgb(252, 248, 227);
}
.table > tfoot > tr > td.warning {
	background-color: rgb(252, 248, 227);
}
.table > tfoot > tr > th.warning {
	background-color: rgb(252, 248, 227);
}
.table > thead > tr.warning > td {
	background-color: rgb(252, 248, 227);
}
.table > thead > tr.warning > th {
	background-color: rgb(252, 248, 227);
}
.table > thead > tr > td.warning {
	background-color: rgb(252, 248, 227);
}
.table > thead > tr > th.warning {
	background-color: rgb(252, 248, 227);
}
.table-hover > tbody > tr.warning:hover > td {
	background-color: rgb(250, 242, 204);
}
.table-hover > tbody > tr.warning:hover > th {
	background-color: rgb(250, 242, 204);
}
.table-hover > tbody > tr:hover > .warning {
	background-color: rgb(250, 242, 204);
}
.table-hover > tbody > tr > td.warning:hover {
	background-color: rgb(250, 242, 204);
}
.table-hover > tbody > tr > th.warning:hover {
	background-color: rgb(250, 242, 204);
}
.table > tbody > tr.danger > td {
	background-color: rgb(242, 222, 222);
}
.table > tbody > tr.danger > th {
	background-color: rgb(242, 222, 222);
}
.table > tbody > tr > td.danger {
	background-color: rgb(242, 222, 222);
}
.table > tbody > tr > th.danger {
	background-color: rgb(242, 222, 222);
}
.table > tfoot > tr.danger > td {
	background-color: rgb(242, 222, 222);
}
.table > tfoot > tr.danger > th {
	background-color: rgb(242, 222, 222);
}
.table > tfoot > tr > td.danger {
	background-color: rgb(242, 222, 222);
}
.table > tfoot > tr > th.danger {
	background-color: rgb(242, 222, 222);
}
.table > thead > tr.danger > td {
	background-color: rgb(242, 222, 222);
}
.table > thead > tr.danger > th {
	background-color: rgb(242, 222, 222);
}
.table > thead > tr > td.danger {
	background-color: rgb(242, 222, 222);
}
.table > thead > tr > th.danger {
	background-color: rgb(242, 222, 222);
}
.btn {
	padding: 6px 12px; border-radius: 4px; border: 1px solid transparent; border-image: none; text-align: center; line-height: 1.4285; font-size: 14px; font-weight: 400; margin-bottom: 0px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; background-image: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.btn-default {
	color: rgb(51, 51, 51); background-color: rgb(255, 255, 255);
}
.active.btn {
	border-radius: 0px; background-color: rgb(211, 220, 230);
}
.dropdown {
	position: relative;
}
.dropdown-toggle:focus {
	outline: 0px;
}
.dropdown-menu {
	list-style: none; margin: 2px 0px 0px; border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.15); border-image: none; left: 0px; top: 100%; text-align: left; font-size: 14px; float: left; display: none; position: absolute; z-index: 1000; min-width: 160px; box-shadow: 0px 6px 12px rgba(0,0,0,0.175); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); -webkit-background-clip: padding-box;
}
.pull-right.dropdown-menu {
	left: auto; right: 0px;
}
.clearfix::after {
	display: table; content: " ";
}
.clearfix::before {
	display: table; content: " ";
}
.clearfix::after {
	clear: both;
}
.center-block {
	margin-right: auto; margin-left: auto; display: block;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.hidden {
	display: none !important;
}
.glyphicon {
	top: 1px; line-height: 1; font-family: esselunga; font-style: normal; font-weight: 400; display: inline-block; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left::before {
	content: "\e92b";
}
.glyphicon-chevron-right::before {
	content: "\e92a";
}
.uib-datepicker-popup table thead th {
	vertical-align: top;
}
.uib-datepicker-popup table thead {
	color: rgb(255, 255, 255); background-color: rgb(27, 65, 100);
}
.uib-datepicker-popup table thead .btn {
	color: rgb(255, 255, 255); background-color: rgb(27, 65, 100);
}
.uib-datepicker-popup table thead th.text-center {
	padding-bottom: 8px;
}
.uib-datepicker .uib-title {
	text-decoration: underline;
}
.modal {
	overflow: hidden;
}
.modal-open {
	overflow: hidden;
}
.modal {
	left: 0px; top: 0px; right: 0px; bottom: 0px;
}
.modal-backdrop {
	left: 0px; top: 0px; right: 0px; bottom: 0px;
}
.modal {
	outline: 0px; display: none; position: fixed; z-index: 1050; -webkit-overflow-scrolling: touch;
}
.fade.modal .modal-dialog {
	transition:transform 0.3s ease-out; transform: translate(0px, -25%); -webkit-transition: -webkit-transform .3s ease-out; -webkit-transform: translate(0, -25%); -o-transform: translate(0, -25%); -o-transition: -o-transform .3s ease-out;
}
.in.modal .modal-dialog {
	transform: translate(0px, 0px); -webkit-transform: translate(0, 0); -o-transform: translate(0, 0);
}
.modal-open .modal {
	-ms-overflow-x: hidden; -ms-overflow-y: auto;
}
.modal-dialog {
	margin: 10px; width: auto; position: relative;
}
.modal-content {
	outline: 0px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; width: 100%; position: relative; max-width: 1200px; box-shadow: 0px 3px 9px rgba(0,0,0,0.5); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5); -webkit-background-clip: padding-box;
}
.modal-backdrop {
	position: fixed; z-index: 1040; background-color: rgb(0, 0, 0);
}
.fade.modal-backdrop {
	opacity: 0;
}
.in.modal-backdrop {
	opacity: 0.5;
}
.modal-body {
	padding: 15px; position: relative;
}
.modal-scrollbar-measure {
	top: -9999px; width: 50px; height: 50px; overflow: scroll; position: absolute;
}
@media all and (min-width:768px)
{
.modal-dialog {
	margin: 30px auto; width: 600px;
}
.modal-content {
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5); -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
}
@media all and (min-width:992px)
{
.modal-lg {
	width: 900px;
}
}
.filter-box-search {
	margin-bottom: 30px;
}
.filter-box .filter-box-header {
	text-align: center; color: rgb(26, 66, 94); font-size: 24px; margin-bottom: 10px;
}
.filter-box .filter-box-body {
	padding: 30px; color: rgb(255, 255, 255); background-color: rgb(26, 66, 94);
}
.filter-box .filter-box-body .left {
	width: 100%;
}
.filter-box .filter-box-body .left table {
	width: 100%;
}
.filter-box .filter-box-body .pre-content {
	width: 100%;
}
.filter-box .filter-box-body .right {
	width: 100%;
}
.filter-box .filter-box-body .right table {
	width: 100%;
}
.filter-box .filter-box-body .left td {
	height: 30px; vertical-align: middle;
}
.filter-box .filter-box-body .right td {
	height: 30px; padding-top: 10px; vertical-align: middle;
}
.filter-box .filter-box-body .left td label {
	margin-left: 6px;
}
.filter-box .filter-box-body .right td label {
	margin-left: 30px;
}
.filter-box .filter-box-body .right td:first-child {
	width: 80px; text-align: right; padding-left: 0px;
}
.filter-box .filter-box-footer {
	height: 2px; background-color: rgb(26, 66, 94);
}
.filter-box .filter-box-footer .filter-button {
	margin: 0px auto; width: 76px; height: auto; position: relative;
}
.filter-box .filter-box-footer .filter-button .filter-button-action {
	width: 100%; text-align: center; display: inline-block; position: relative;
}
.filter-box .filter-box-footer .filter-button .filter-button-image {
	left: 0px; top: -6px; position: absolute;
}
.filter-box .filter-box-footer .filter-button .filter-button-arrow {
	top: -4px; text-align: center; color: rgb(255, 255, 255); font-size: 7px; display: block; position: relative; z-index: 100; transform: rotate(180deg);
}
.is-closed-filter .filter-box .filter-box-body {
	padding: 0px; height: 1px;
}
.is-closed-filter .filter-box .filter-box-body .body-content {
	display: none;
}
.is-closed-filter .filter-box .filter-box-footer .filter-button .filter-button-arrow {
	transform: rotate(0deg);
}
.filter-box .filter-box-body .right td label {
	display: block;
}
@media all and (min-width:768px)
{
.filter-box .filter-box-body .left td {
	height: 30px; text-align: center; vertical-align: middle;
}
.filter-box .filter-box-body .right td {
	height: 30px; text-align: center; vertical-align: middle;
}
.filter-box .filter-box-body .right td label {
	display: inline;
}
}
@media all and (min-width:1024px)
{
.filter-box .filter-box-body .pre-content {
	width: 100%; display: table;
}
.filter-box .filter-box-body .body-content {
	display: table-row;
}
.filter-box .filter-box-body .left {
	width: 13%; vertical-align: middle; display: table-cell;
}
.filter-box .filter-box-body .right {
	width: 90%; vertical-align: middle; border-left-color: rgb(238, 238, 238); border-left-width: 2px; border-left-style: solid; display: table-cell;
}
.filter-box .filter-box-body .left td {
	height: 30px; text-align: left; vertical-align: middle;
}
.filter-box .filter-box-body .right td {
	height: 30px; text-align: left; vertical-align: middle;
}
.filter-box .filter-box-body .left td label {
	margin-left: 6px;
}
.filter-box .filter-box-body .right td label {
	margin-left: 30px; display: inline;
}
.filter-box .filter-box-body .right td:first-child {
	width: 150px; text-align: right; padding-left: 0px;
}
.filter-box .filter-box-footer {
	height: 2px; background-color: rgb(26, 66, 94);
}
.filter-box .filter-box-footer .filter-button {
	margin: 0px auto; width: 76px; height: auto; position: relative;
}
.filter-box .filter-box-footer .filter-button .filter-button-action {
	width: 100%; text-align: center; display: inline-block; position: relative;
}
.filter-box .filter-box-footer .filter-button .filter-button-image {
	left: 0px; top: -6px; position: absolute;
}
.filter-box .filter-box-footer .filter-button .filter-button-arrow {
	top: -4px; text-align: center; color: rgb(255, 255, 255); font-size: 7px; display: block; position: relative; z-index: 100; transform: rotate(180deg);
}
.is-closed-filter .filter-box .filter-box-body {
	padding: 0px; height: 1px;
}
.is-closed-filter .filter-box .filter-box-body .body-content {
	display: none;
}
.is-closed-filter .filter-box .filter-box-footer .filter-button .filter-button-arrow {
	transform: rotate(0deg);
}
section.results table.search {
	border-collapse: separate; border-spacing: 0 15px;
}
}
.filter-spec .order-button-arrow {
	top: 0px; text-align: center; color: rgb(255, 255, 255); font-size: 7px; display: inline-block; position: relative; z-index: 100; transform: rotate(0deg);
}
.filter-spec .is-asc.order-button-arrow {
	transform: rotate(180deg);
}
section.results h2 {
	padding: 30px 0px 10px; color: rgb(26, 66, 94); text-transform: uppercase; font-size: 22px;
}
section.results .filter-spec {
	padding: 5px; color: rgb(255, 255, 255); margin-bottom: 10px; background-color: rgb(26, 66, 94);
}
section.results .filter-spec .customSelect__div {
	width: 100%; display: block;
}
@media all and (min-width:768px)
{
section.results .filter-spec .customSelect__div {
	width: auto; display: inline-block;
}
section.results .filter-spec .scadenza_select_div.customSelect__div {
	width: 145px;
}
section.results .filter-spec .posizione_select_div.customSelect__div {
	width: 26%;
}
section.results .filter-spec .luogo_select_div.customSelect__div {
	width: 25%;
}
section.results .filter-spec .data_select_div.customSelect__div {
	width: 145px;
}
section.results .filter-spec .titolo_pagina_select_div.customSelect__div {
	width: 25%;
}
section.results .filter-spec .titolo_select_div.customSelect__div {
	width: 25%;
}
}
section.results .filter-spec .customSelect__select {
	padding: 17px 15px 17px 10px; border-radius: 0px; border: currentColor; border-image: none; width: auto; color: rgb(255, 255, 255); text-transform: uppercase; font-family: proxima-nova,sans-serif; font-size: 16px; font-style: normal; font-weight: 400; vertical-align: middle; display: inline-block; position: relative; min-height: 50px; background-color: rgb(26, 66, 94); -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
section.results table.search {
	width: 100%; font-size: 0px;
}
.works__btn_white {
	border: 2px solid rgb(26, 66, 94); border-image: none; color: rgb(26, 66, 94); background-color: rgb(255, 255, 255);
}
.works__posizione {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.results-annunci-tbl .works__cta_secbtn {
	top: 32px; position: relative;
}
@media all and (min-width:768px)
{
.results-annunci-tbl .works__cta {
	padding: 0px; height: auto; line-height: 1px;
}
.results-annunci-tbl .works__cta_firstbtn {
	top: 79px;
}
.results-annunci-tbl .works__cta_secbtn {
	top: 0px; height: 79px; line-height: 1px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; position: absolute;
}
.results-annunci-tbl .works__btn {
	margin: 15px 0px;
}
.results-contenuti-tbl .works__cta {
	padding: 10px; height: auto; line-height: 1px;
}
.results-job-day-tbl .works__cta {
	padding: 10px; height: auto; line-height: 1px;
}
.results-contenuti-tbl .works__btn {
	margin: 5px 0px;
}
.results-job-day-tbl .works__btn {
	margin: 5px 0px;
}
.results-contenuti-tbl .works__posizione {
	border-left-color: rgb(209, 217, 223); border-left-width: 1px; border-left-style: solid;
}
.results-job-day-tbl .works__posizione {
	border-left-color: rgb(209, 217, 223); border-left-width: 1px; border-left-style: solid;
}
.results-contenuti-tbl .works__position::before {
	top: 78px; width: 70%; height: 1px; border-top-color: currentColor; border-top-width: medium; border-top-style: none; position: absolute; z-index: 1; content: "";
}
.results-job-day-tbl .works__position::before {
	top: 78px; width: 70%; height: 1px; border-top-color: currentColor; border-top-width: medium; border-top-style: none; position: absolute; z-index: 1; content: "";
}
.input-search {
	
}
}
@media all and (min-width:1024px)
{
.results-annunci-tbl .works__cta_firstbtn {
	padding: 0px 10px; top: 0px; width: 250px; height: auto; line-height: 1; position: relative;
}
.results-annunci-tbl .works__cta_secbtn {
	padding: 0px 10px; width: 250px; height: auto; line-height: 1; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; position: relative;
}
}
button.search-control-button {
	height: 40px; position: relative;
}
div.search_container {
	height: 40px; position: relative;
}
input[type=text]:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
.contSearch.contSearchOpen {
	display: block;
}
.contSearch {
	display: none;
}
.contSearchMobile {
	display: none;
}
button.search-control-button {
	border-radius: 20px; border: 0px currentColor; border-image: none; width: 40px; color: rgb(255, 255, 255); margin-top: -3px; margin-left: -44px; vertical-align: middle; z-index: 5; background-color: rgb(26, 66, 94); -webkit-appearance: none;
}
.mainNav__item--cerca .search-control-button:hover {
	transition:0.3s ease-in-out; background-color: rgb(41, 102, 145); -webkit-transition: .3s ease-in-out;
}
@media all and (min-width:1024px)
{
.mainNav__item {
	font-size: 13px;
}
.mainNav__item--cerca {
	padding: 0px; left: auto; width: 16.66%; right: 14%; line-height: 80px; float: left; position: absolute;
}
.mainNav__item--lavoraConNoi {
	width: 14%;
}
.mainNav::after {
	width: 31%; height: 80px; float: right; display: inline-block; content: "";
}
}
@media all and (min-width:1120px)
{
.mainNav__item {
	font-size: 14px;
}
.mainNav__item--lavoraConNoi {
	width: 16.66%;
}
.mainNav__item--cerca {
	padding: 0px; left: auto; width: 16.66%; right: 16.66%; line-height: 80px; float: left; position: absolute;
}
}
@media all and (min-width:1280px)
{
.mainNav__item--cerca {
	padding: 0px; left: auto; width: 16.66%; right: 16.66%; line-height: 100px; float: left; position: absolute;
}
.mainNav::after {
	width: 34%; height: 80px; float: right; display: inline-block; content: "";
}
}
.contSearch .suggestions .disclosure {
	float: right;
}
.contSearchMobile .suggestions .disclosure {
	float: right;
}
.contSearch a {
	line-height: normal;
}
.contSearch div {
	line-height: normal;
}
.contSearch li {
	line-height: normal;
}
.contSearchMobile div {
	line-height: normal;
}
.contSearchMobile li {
	line-height: normal;
}
@media all and (min-width:1600px)
{
.mainNav__item {
	font-size: 16px;
}
}
:root img.search_img {
	width: 20px; height: 20px; margin-bottom: 100%;
}
_:-ms-input-placeholder {
	width: 20px; height: 20px; margin-bottom: 100%;
}
:root .filter-box .filter-box-footer .filter-button .filter-button-image {
	left: 0px; top: -10px; position: absolute;
}
_:-ms-input-placeholder {
	left: 0px; top: -10px; position: absolute;
}
@media screen and (min-width:0px)
{
img.search_img {
	width: 20px; height: 20px; margin-bottom: 100%;
}
.filter-box .filter-box-footer .filter-button .filter-button-image {
	left: 0px; top: -10px; position: absolute;
}
}
img.search_img {
	width: 20px; height: 20px;
}
.input-search {
	outline: 0px; border-radius: 18px; border: 1px solid rgb(209, 217, 223); border-image: none; width: 98%; height: 35px; color: rgb(26, 66, 94); padding-right: 50px; padding-left: 15px; font-family: adelle,serif; font-size: 16px; font-style: italic; font-weight: 400; margin-left: 0px; display: inline-block; position: relative; z-index: 1; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none; -moz-box-sizing: border-box;
}
@media all and (min-width:1024px)
{
.input-search {
	width: 90%; padding-right: 42px; padding-left: 5px; font-size: 12px;
}
.contSearch {
	display: block;
}
}
@media all and (min-width:1120px)
{
.input-search {
	width: 90%; padding-right: 42px; padding-left: 5px; font-size: 13px;
}
.contSearch {
	display: block;
}
}
@media all and (min-width:1280px)
{
.input-search {
	width: 90%; padding-right: 50px; padding-left: 10px; font-size: 14px;
}
}
@media all and (min-width:1600px)
{
.input-search {
	width: 90%; padding-right: 50px; padding-left: 10px; font-size: 16px;
}
}
.is-open-search {
	display: block;
}
.contSearchMobile {
	padding: 60px 15px 15px; top: 60px; width: 100%; height: 100vh; right: 0px; bottom: 0px; overflow: visible; position: fixed; background-color: rgb(242, 242, 242);
}
.contSearchMobile::after {
	clear: both; display: table-cell; content: "";
}
.contSearchMobile a {
	padding: 10px 15px; width: 100%; text-align: left; text-transform: none; line-height: normal; font-size: 14px; display: inline-block;
}
.contSearchMobile .suggestions .disclosure .disclosure-img {
	width: 10px; height: 10px;
}
.contSearchMobile .suggestions a {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(26, 66, 94);
}
.contSearchMobile .regions a {
	color: rgb(26, 66, 94); background-color: rgb(255, 255, 255);
}
.contSearchMobile .suggestions a:hover {
	color: rgb(26, 66, 94); background-color: rgb(255, 255, 255);
}
.contSearchMobile .suggestions a.annunci-suggestion:hover {
	color: rgb(26, 66, 94); background-color: rgb(255, 255, 255);
}
.contSearchMobile .suggestions a.annunci-suggestion {
	color: rgb(26, 66, 94); text-decoration: none; background-color: rgb(255, 255, 255);
}
.contSearchMobile .regions a {
	text-decoration: none;
}
.contSearchMobile .regions a:hover {
	color: rgb(255, 255, 255); background-color: rgb(26, 66, 94);
}
.contSearchMobile .suggestions .separator {
	padding: 0px 15px;
}
.contSearchMobile .suggestions .separator hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) currentColor currentColor; margin: 0.8em 0px; border-image: none; height: 1px; display: block;
}
.contSearchMobile .suggestions .subtitle-announcements {
	padding: 0px 15px 5px; text-align: left; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 12px; background-color: rgb(26, 66, 94);
}
@media all and (min-width:310px)
{
.contSearchMobile {
	padding: 10px 15px 15px;
}
.contSearchMobile::after {
	display: table-cell; content: "";
}
.contSearchMobile .suggestions {
	left: 4%; width: 46%; position: absolute; background-color: rgb(26, 66, 94);
}
.contSearchMobile .regions {
	left: 50%; width: 46%; right: 4%; position: absolute; background-color: rgb(255, 255, 255);
}
.contSearchMobile a {
	padding: 4px; width: 100%; text-align: left; text-transform: none; line-height: normal; font-size: 14px; display: inline-block;
}
.captcharesize {
	transform-origin: 0% 0%; transform: scale(1.22); -webkit-transform: scale(1.22); -webkit-transform-origin: 0 0;
}
}
@media all and (min-width:450px)
{
.contSearchMobile {
	top: 80px;
}
.contSearchMobile::after {
	display: table-cell; content: "";
}
.contSearchMobile .suggestions {
	left: 0px; width: 50%; position: relative; background-color: rgb(26, 66, 94);
}
.contSearchMobile .regions {
	left: 50%; top: 50px; width: 46%; right: 4%; position: absolute; background-color: rgb(255, 255, 255);
}
.contSearchMobile a {
	padding: 4px; width: 100%; text-align: left; text-transform: none; line-height: normal; font-size: 14px; display: inline-block;
}
}
@media all and (min-width:768px)
{
.contSearchMobile {
	padding: 15px; top: auto; width: 480px; height: auto; bottom: auto; position: absolute; z-index: 1100;
}
.contSearchMobile::after {
	clear: both; display: table-cell; content: "";
}
.contSearchMobile .suggestions {
	left: 0px; width: 250px; margin-top: 5px; position: relative; background-color: rgb(26, 66, 94);
}
.contSearchMobile .regions {
	left: 265px; top: 60px; width: 200px; right: 0px; position: absolute; background-color: rgb(255, 255, 255);
}
.contSearchMobile a {
	padding: 10px 15px; width: 100%; text-align: left; text-transform: none; line-height: normal; font-size: 14px; display: inline-block;
}
}
.contSearch {
	top: 60px; width: 100%; height: 100vh; right: auto; bottom: 0px; overflow: visible; position: fixed; background-color: rgb(242, 242, 242);
}
.contSearch a {
	padding: 10px 15px; width: 100%; text-align: left; text-transform: none; font-size: 14px; display: inline-block;
}
.contSearch .suggestions .disclosure .disclosure-img {
	width: 10px; height: 10px;
}
.contSearch .suggestions a {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(26, 66, 94);
}
.contSearch .regions a {
	color: rgb(26, 66, 94); background-color: rgb(255, 255, 255);
}
.contSearch .suggestions a:hover {
	color: rgb(26, 66, 94); background-color: rgb(255, 255, 255);
}
.contSearch .suggestions a.annunci-suggestion:hover {
	color: rgb(26, 66, 94); background-color: rgb(255, 255, 255);
}
.contSearch .suggestions a.annunci-suggestion {
	color: rgb(26, 66, 94); text-decoration: none; background-color: rgb(255, 255, 255);
}
.contSearch .regions a {
	text-decoration: none;
}
.contSearch .regions a:hover {
	color: rgb(255, 255, 255); background-color: rgb(26, 66, 94);
}
.contSearch .suggestions .separator {
	padding: 0px 15px;
}
.contSearch .suggestions .separator hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) currentColor currentColor; margin: 0.8em 0px; border-image: none; height: 1px; display: block;
}
.contSearch .suggestions .subtitle-announcements {
	padding: 0px 15px 5px; text-align: left; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 12px; background-color: rgb(26, 66, 94);
}
@media all and (min-width:450px)
{
.contSearch {
	top: 80px;
}
.captcharesize {
	transform-origin: 0% 0%; transform: scale(1.09); -webkit-transform: scale(1.09); -webkit-transform-origin: 0 0;
}
}
@media all and (min-width:768px)
{
.contSearch {
	top: 80px; width: 450px; height: auto; bottom: auto; position: absolute; z-index: 1000;
}
.contSearch::after {
	display: table-cell; content: "";
}
.contSearch .suggestions {
	left: 0px; top: 0px; width: 250px; position: absolute; background-color: rgb(26, 66, 94);
}
.contSearch .regions {
	left: 250px; top: 0px; width: 200px; position: absolute; background-color: rgb(255, 255, 255);
}
.captcharesize {
	transform-origin: 0% 0%; transform: scale(1.09); -webkit-transform: scale(1.09); -webkit-transform-origin: 0 0;
}
}
@media all and (min-width:1024px)
{
.contSearch {
	left: -70px; top: 80px; width: 350px; height: auto; bottom: auto; position: absolute; z-index: 1000;
}
.contSearch::after {
	display: table-cell; content: "";
}
.contSearch .suggestions {
	left: 0px; top: 0px; width: 200px; position: absolute; background-color: rgb(26, 66, 94);
}
.contSearch .regions {
	left: 200px; top: 0px; width: 150px; position: absolute; background-color: rgb(255, 255, 255);
}
.captcharesize {
	transform-origin: 0% 0%; transform: scale(0.89); -webkit-transform: scale(.89); -webkit-transform-origin: 0 0;
}
}
@media all and (min-width:1280px)
{
.contSearch {
	left: 0px; top: 80px; width: 350px; height: auto; bottom: auto; position: absolute; z-index: 1000;
}
.contSearch::after {
	display: table-cell; content: "";
}
.contSearch .suggestions {
	left: 0px; top: 0px; width: 200px; position: absolute; background-color: rgb(26, 66, 94);
}
.contSearch .regions {
	left: 200px; top: 0px; width: 150px; position: absolute; background-color: rgb(255, 255, 255);
}
.captcharesize {
	transform-origin: 0% 0%; transform: scale(0.89); -webkit-transform: scale(.89); -webkit-transform-origin: 0 0;
}
}
#selenium_data_select {
	background-image: none;
}
#selenium_luogo_select {
	background-image: none;
}
#selenium_posizione_select {
	background-image: none;
}
#selenium_scadenza_select {
	background-image: none;
}
#selenium_titolo_pagina_select {
	background-image: none;
}
#selenium_titolo_select {
	background-image: none;
}
.filter-box-body select {
	padding: 0px; width: 80%; margin-left: 3%; min-height: 60px;
}
@media all and (min-width:768px)
{
.works__scadenza__lfs {
	width: 155px;
}
}
.inscadenza .works__scadenza__lfs {
	color: rgb(225, 32, 38);
}
